
*{
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;

}
.giua{
   display: flex;
   justify-content: center;
}

body{
   display: flex;
   justify-content: center;
   background-color: white
}
.truong{
    color: #0b437e;
    font-size: 6.25vw;
    text-align: center;
    margin:2vw 0 0.52vw 0;
}
.littleText{
    text-align: center;
    color: #0B437E;
    font-size: 1.56vw;
    margin: 0 0 0.52vw 0;
    opacity: 0.5;
}

.btnLogin{
    color:#FFFFFF;
    background-color: #0B437E;
    padding: 0.78vw;
    width: 10.42vw;
    border-radius:0.52vw;
    margin: 0.52vw 0px 0px 0px;
}

.cdn{
    font-size: 1vw;
    margin: 0.2vw 0.63vw;
    font-weight: bolder;
}

.linkText{
    text-decoration: none;
    color: rgb(0, 81, 255);
    font-weight: bold;
    font-size: 0.9375vw;
    margin: 1.3v 0 0 0;
}

.hinhgiua{
    justify-content: center;
    display: flex;
    max-width: 90%;
    height: 27.646vw;
    object-fit: cover;
    margin: 0 0 5px 0;
}

.titledk{
    color: #0b437e;
    font-size: 5.2vw;
    text-align: center;
    margin:2.292vw 0 0.52vw 0;
}

