body{
  width: 100%;
  height: 100vh;
  margin-top: 50;
  background-image: url(../static/images/img/WEBLOGIN.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Manrope", sans-serif;
}

.circle {
  background: lightgray;
  border: 0em solid #0F1C3F;
  border-radius: 50%;
  height: 14vw;
  width: 14vw;
  position: absolute;
  left: 75vw;
  top: 5.2vw;
}

img{
  position: absolute;
  width: 3.9vw;
  height: 3.6vw ;
  left: 81.25vw;
  top: 15.625vw;

  border: solid;
  border-radius: 50%;
  border-color: none;
  background-color: darkblue;
}

.name{
  position: relative;
  top: 5.2vw;
  left: 82.29vw;
  
  font-size: 1vw;
  font-weight: bold;
  color: #0B437E;
}


.containerbox{
  margin-left: 2.6vw;
  margin-top: 2.6vw;
}
.div_left1{
  width: 15.625vw;
  float: left;
  
  text-align: left;
  font-size: 1.5625vw;
  font-weight: bold;
  
  
}
  
.div_right1{
  width: 15.625vw;
  
  float: left;
  
  text-align: center;
  font-size: 1.5625vw;
  font-weight: bold;
  
}

.container_swap2{
  position: absolute;
  top: 23.435vw;
  left: 65.1vw;

  font-weight: bold;

}

.hed1{
  font-size: 2.6vw;
  font-weight: bold;
  margin-left: 2.6vw;
  margin-top: 13vw;
}

.nutcon{
  padding: 0 1vw 0 1vw;
}

.tt{
  width: 15.625vw;
  background: transparent;
  border: 0;
  outline: 0;
  margin-left:  3.385vw;

  font-size: 1vw;
  font-weight: 700;
  text-align: left;
}

.dkhoan{
  width: 15.625vw;
  background: transparent;
  border: 0;
  outline: 0;
  margin-left:  3.6vw;

  font-size: 1vw;
  font-weight: 700;
  text-align: left;
}

.cnhan{
  width: 15.625vw;
  background: transparent;
  border: 0;
  outline: 0;
  margin-left:  3.6vw;

  font-size: 1vw;
  font-weight: 700;
  text-align: left;
}

.dxuat{
  width: 15.625vw;
  background: transparent;
  border: 0;
  outline: 0;
  margin-left:  73.6vw;

  font-size: 1vw;
  font-weight: 700;
  text-align: left;
}

.nut1{
  padding: 1.3vw;
}

i{
  font-size: 1.3vw;
}

.trang{
  font-size: 1.3vw;
  margin-left: 7.55vw;
}
