body{
  width: 100%;
  height: 100vh;
  margin-top: 2.5vw;
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

.h1{
  display: flex;
  justify-content: center;
  margin-top: 7.5vw;
}

h1{
  font-size: 2.5vw;
}

.h2{
  display: flex;
  justify-content: center;
  margin-right: 8.5vw;
  text-decoration-line: underline;
  font-weight: 700;
}

.ma{
  display: flex;
  justify-content: right  ;
  margin-top: 1.5vw;
  margin-left: 14.5vw;
  text-align: right;
}

.ma1{
  text-decoration: none;
  color: black;
}

:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background: #fff; 
  padding: 1.5vw 3.25vw; 
  border-radius: 12px; /* Rounded corners */
  row-gap: 1vw; /* Spacing between rows (if applicable) */
}

.input-field {
  flex-direction: row;  /* Arrange elements horizontally */
  column-gap: 0.5vw;     /* Spacing between elements in the row */
}

.input-field input {
  /* Add your desired styles for the input element here */
  border: 1px solid #ccc; /* Example border */
  padding: 0.25vw 0.5vw;     /* Example padding */
  font-size: 0.8vw;      /* Example font size */
  /* Add more styles as needed (color, width, height, etc.) */
}
.input-field input {
  height: 4vw;
  width: 3.5vw;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 0.05vw 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
form button {
  margin-top: 1.25vw;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 0.45vw 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #FB6060;
  transition: all 0.2s ease;
  margin-top: 2.5vw;
  padding: 1vw;
  font-size: 1vw;
  font-weight: 700;
}
form button.active {
  background: #4070f4;
  pointer-events: auto;
}
form button:hover {
  background: #0e4bf1;
}



.input-box{
  background: #fff;
  width: 90%;
  max-width: 40vw;
  border-radius: 5px;
  padding: 0.5vw 2vw 0.5vw 2vw;
  display: flex;
  align-items: center;

  ;
  
}

.input-box input{
  width: 100%;
  padding: 0.5vw 7.5vw 0.5vw 7.5vw;
  border: 0;
  outline: 0;
  font-size: 1vw;
  color: #555;
  padding-left: 0.5vw;
  
  
  
}

.input-box img{
  width: 1.5vw;
  cursor: pointer;
}

i{
  font-size: 1.25vw;
  padding-right: 0.75vw;
}

a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #0e4bf1;
}