
body{
  width: 100%;
  height: 100vh;
  margin-top: 50;
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

.h1{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

h1{
  font-size: 50px;
}

.h2{
  display: flex;
  justify-content: center;
  margin-right: 170px;
  text-decoration-line: underline;
  font-weight: 700;
}

.ma{
  display: flex;
  justify-content: right  ;
  margin-top: 30px;
  margin-left: 290px;
  text-align: right;
}

.ma1{
  text-decoration: none;
  color: black;
}

:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background: #fff; 
  padding: 30px 65px; 
  border-radius: 12px; /* Rounded corners */
  row-gap: 20px; /* Spacing between rows (if applicable) */
}

.input-field {
  flex-direction: row;  /* Arrange elements horizontally */
  column-gap: 10px;     /* Spacing between elements in the row */
}

.input-field input {
  /* Add your desired styles for the input element here */
  border: 1px solid #ccc; /* Example border */
  padding: 5px 10px;     /* Example padding */
  font-size: 16px;      /* Example font size */
  /* Add more styles as needed (color, width, height, etc.) */
}
.input-field input {
  height: 80px;
  width: 70px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #FB6060;
  transition: all 0.2s ease;
  margin-top: 50px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
form button.active {
  background: #4070f4;
  pointer-events: auto;
}
form button:hover {
  background: #0e4bf1;
}



.input-box{
  background: #fff;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
  display: flex;
  align-items: center;

  ;
  
}

.input-box input{
  width: 100%;
  padding: 10px 150px 10px 150px;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: #555;
  padding-left: 10px;
  
  
  
}

.input-box img{
  width: 30px;
  cursor: pointer;
}

i{
  font-size: 25px;
  padding-right: 15px;
}

a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #0e4bf1;
}

