body{
  width: 100%;
  height: 100vh;
  margin-top: 5vw;
  background-image: url(../access/img/oops.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Manrope", sans-serif;
}

h1{
  color: #0B437E;
  text-align: center;
  font-size: 3.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6vw;
}

.box-control{
  display: flex;
  justify-content: center;
  
}

.box{
  background-color: white;
  margin: 5vw ;
  margin: 0vw 27.5vw 0vw 27.5vw;

}
h2{
  color: rgba(11, 67, 126, 0.50);
  text-align: center;
  font-size: 1.75vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05vw;
  width: 34.8vw;
  height: 4.25vw;
  margin: 3.5vw 0vw 3.5vw 0vw;
  }

button{
  display: flex;
  width: 33.194vw;
  height: 4.355vw;
  justify-content: center;
  background-color: #0B437E;
  margin-bottom: 1vw;
}

.textnutdk{
  color: #FFF;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03vw;
  display: flex;
  justify-content: center;
  padding-top: 1.25vw;
}

a{
  text-decoration: none;
}

.nho{
  border-radius: 0.5vw;
  border: 5px;
}

.cnho{
  font-size:1vw;
}