
.container{
    position: relative;
    margin-top: 50;
    font-family: "Manrope", sans-serif;
    
}


::placeholder{
    font-size: 20;
    overflow: hidden;
    font-weight: bold;

}

h1{
    color: #0b437e;
    font-size: 120px;  
    text-align: center;
}

.input-control{
    justify-content: center;
    display: flex;
    box-shadow: 3px 3px 3px gray;
    padding: 25;
    margin: 0 600 20 600;
    border-radius: 10px;    
    background-color: F4F9F9;

        
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding-left: 60;
    padding-top: 10;
    padding-bottom: 10;
    font-weight: bolder;
}

i{
    padding-left: 15px;
    padding-top: 8px;
    size: 100px;
    font-size: 25;
    color: #0b437e;
}


button{
    border: 0;
    outline: 0;
    font-size: 20;
    padding: 10px 70px 10px 70px;
    color: white;
    font-weight: bold;
    background-color: #0b437e;
    border-radius: 10px;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 50;
}
    
.input-control img{
    width: 30px;
    cursor: pointer;
}