body{
  width: 100%;
  height: 100vh;
  margin-top: 2.5vw;
  background-image: url(../access/img/Signin.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Manrope", sans-serif;
}


h1{
  color: #0b437e;
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5vw;
}

input{
  outline: 0;
  border: 0;
  background-color: whitesmoke;
  padding: 1vw 10vw 1vw 10vw;
  font-weight: bolder;
  text-align: center;
  font-size: 1vw;
  margin-bottom: 1.5vw;
  background-color: whitesmoke;
  border-radius: 10px;

}

.input-control{
  display: flex;
  justify-content: center;
}

.dn{
  display: flex;
  justify-content: center;
  font-size: 1.15vw;
  text-decoration-line: none;
  margin-top: 0;
  margin-bottom: 2vw;
  color: black;
}

.signin{
  display: flex;
  justify-content: center;
}

.dnnn{
  border: 0;
  outline: 0;
  font-size: 1vw;
  padding: 0.5vw 3.5vw 0.5vw 3.5vw;
  color: white;
  font-weight: bold;
  background-color: #0b437e;
  border-radius: 10px;
  padding: 1.25vw 3.75vw;
  margin-bottom: 2vw;
}

.signup{
  text-align: center;
}

.signup-gg{
  border: 0;
  outline: 0;
  font-size: 1vw;
  padding: 1vw 3.5vw 1vw 3.5vw;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2vw;
  box-shadow: 0.15vw 0.15vw 0.15vw gray;
  margin-top: 2vw; 
  
}

.signup-w-gg{
  padding: 2vw;
  text-align: center;
}

i{
  size: 5vw;
  font-size: 2vw;
  color: #0b437e;
}

.notk{
  display: flex;
  justify-content: center;
  font-size: 1.25vw;
  margin-bottom: 0.25vw;
}

.linkdk{
  display: flex;
  justify-content: center;
  font-size: 1vw;
  
}

a{
  text-decoration: none;
}

hr {
  width: 50vw; /* Adjust as needed */
  border: none; /* Remove default border */
  border-top: 2px solid black; /* Set border properties */
}