body{
  width: 100%;
  height: 100vh;
  margin-top: 2.5vw;
  background-image: url(../static/images/img/Success.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Manrope", sans-serif;
}

.h1{
  display: flex;
  justify-content: center;
  font-size: 2.25vw;
  text-align: center;
  margin: 7.5vw 5vw 3.5vw 0.5vw;

}

img{
  width: 65vw;
  height: 50vw;
}

.pic{
  justify-content: center;
  display: flex;
}

.nut{
  display: flex;
  justify-content: center;


}

button{
  border: 0;
  outline: 0;
  background-color: #0B437E;
  padding: 0.5vw 3.5vw 0.5vw 3.5vw;

}

a{
  text-decoration: none;
  color: white;
  font-size: 2.75vw;
  font-weight: bold;
}