<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot your password?</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style/forgotpass.css">
  <script defer src=""></script>
  <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <form id="form" action="/">
      <div class="h1">
        <h1>Bạn đã quên mật khẩu?</h1>
      </div>

      <div class="hr">
        <hr color="gray" width="400px" size="2px" align="center" />
      </div>

      <div class="input-control">
        <i class="fa-solid fa-envelope"></i>
        <input id="email" name="email" type="text" placeholder="Email ID">
      </div>

      <div class="nut">
        <button type="submit" class="nutdn">
          XÁC NHẬN
        </button>
      </div>

      <div class="back">
        <a href="../templates/signin.html" class="back1">Quay về đăng nhập</a>
      </div>

    </form>
  </div>
</body>
</html>