<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/hompage.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
        <header>
            <ul class ="menu">
                <li>Trang chủ</li>
                <li><a class="Linktext" href="../templates/newspaper.html">Báo điện tử</a>
                    <ul>
                        <li><a href="../templates/club.html">Câu lạc bộ</a></li>
                        <li><a href="../templates/activities.html">Hoạt động</a></li>
                        <li><a href="">Nhật kí tạp chí</a></li>
                        <li><a href="">HĐTN-HN</a></li>
                        <li><a href="">Hỗ trợ đăng bài</a></li>
                    </ul>
                </li>
                <li>Kết nối cộng đồng
                    <ul>
                        <li><a href="">Toán</a></li>
                        <li><a href="">Vật Lý</a></li>
                        <li><a href="">Hóa Học</a></li>
                        <li><a href="">Anh Văn</a></li>
                        <li><a href="">Ngữ Văn</a></li>
                        <li><a href="">Tin Học</a></li>
                        <li><a href="">Sinh Học</a></li>
                        <li><a href="">Tất cả</a></li>
                    </ul>
                </li>
                <li>Tư vấn-Hướng nghiệp</li>
                <li><a class="Linktext" href="../templates/aboutus.html">Chuyện của chúng mình</a></li>
                <li><form action="" id = "search-box">
                    <input type="text" id="search-text" placeholder="Bạn cần tìm gì thế?">
                    <button id="search-btn"><div class="find"><img src="../static/images/Interface Search.png" alt="" height="30px" width="30px"></div></button>
                </form></li>
                <li><div class="notification"><img src="../static/images/mdi_bell.png" alt="" height="60px"></div></li>
                <li><div class="account"><img src="../static/images/Ellipse 23.png" alt="" height="60px"></div></li>
            </ul>
        </header>
    <div class="imgArea">
    <img src="../static/images/Card 1.png" alt="" width="100%">   
    </div>
    <div class="Title">
        <h1 class="headline">Chúng mình tạo ra website này với mong muốn tạo một môi trường mạng xã hội lành mạnh, hiệu quả trong việc kết nối bạn bè và học tập của học sinh Bùi Thị Xuân.</h1>
        <h2 class="teamname">Đội ngũ “Tech Pioneer”</h2>
    </div>
    <div class="statistics">
        <div class="users">
            <h1>3K</h1>
            <p>Người dùng</p>
        </div>
        <div class="posts">
            <h1>200</h1>
            <p>Bài viết</p>
        </div>
        <div class="groups">
            <h1>100</h1>
            <p>Nhóm học tập</p>
        </div>
    
    </div>
    <div class="questions">
        <div class="main"><p>Câu hỏi thường gặp</p></div>
        <div class="sentences">
            <p>Làm thế nào để có thể đăng bài lên trang?</p>
            <p>Liệu có được dùng bút danh để đăng bài hay là phải sử dụng tên thật 100%?</p>
            <p>Làm thế nào để được nhận tư vấn hướng nghiệp?</p>
            <p>Giá ăn gần trường Bùi Thị Xuân</p>
            <p>Học sinh trường mình thường làm gì để bớt “xì trét” trong các kì thi?</p>
            <p>Chuyến du lịch Đà Lạt hằng năm có gì thú vị?</p>
        </div>
    </div>
</body>
</html>

