<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <script defer src=""></script>
    <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="component">
        <h1 class="truong">THPT BÙI THỊ XUÂN</h1>
        <div>
            <h2 class="littleText">Website dành cho Xuân Bùi-ers</h2>
        </div>
        <div class="nut giua">
            <a href="../HTML/signin.html">
                <button class="btnLogin">
                    <p class="cdn">ĐĂNG NHẬP</p>
                </button>
            </a>
        </div>
    <div class="hinhgiua">
        <img src="../access/img/picc.png" alt="Hinh anh">
    </div>
    <a class="linkText kc giua" href="../HTML/signup.html">Bạn không có tài khoản? Đăng ký</a>
    </div> 

</body>
</html>

