<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Me</title>
  <link rel="stylesheet" href="../static/style/me.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="cirbox">
      <div class="circle"></div>
    </div>

    <div class="cam">
      <img src="../access/img/image-removebg-preview (1).png" alt="" class="">
    </div>

    <header class="hed1">CỘNG ĐỒNG CỦA BẠN</header>
    <header class="name">Tên tài khoản</header>

    <div class="containerbox">
      <div class="container_swap">
        <div class="div_left1">
          <p>Tuần suất hoạt động</p>
          <p>Những bài viết mới</p>
          <p>Yêu cầu kết nối</p>
          <p>Đề xuất phát triển</p>
        </div>
   
        <div class="div_right1">
          <p>Thường xuyên</p>
          <p>2</p>
          <p>5</p>
          <p>Gửi bài góp ý</p>
        </div>
      </div>
  
      <div class="container_swap2">
        <div class="div_right2">
          <p class="trang">Trang chủ</p>

          <div class="nutcon">
            <div class="nut1">
              <i id="lordi" class="fa-solid fa-circle-info"></i>
              <button class="tt">Thông tin ứng dụng</button>
            </div>
  
            <div class="nut1">
              <i class="fa-solid fa-file-lines"></i>
              <button class="dkhoan">Điều khoản và điều lệ</button>
            </div>
  
            <div class="nut1">
              <i class="fa-solid fa-user"></i>
              <button class="cnhan">Chỉnh sửa thông tin cá nhân</button>
            </div>
  
            <div class="nut1">
              <i class="fa-solid fa-right-from-bracket"></i>
              <button class="dxuat">Đăng xuất</button>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
    
      
  </div>

</body>
</html>