<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <script defer src=""></script>
    <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style/newpass.css">
</head>
<body>
  <div class="h1"><h1>ĐỔI MẬT KHẨU MỚI</h1></div>
  <div class="h2"><div class="H2">*Mã OTP đã được gửi tới số điện thoại/email</div></div>
  <div class="container">

    <form action="#">
      <div class="input-box">
        <i class="fa-solid fa-lock"></i>
        <input type="password" placeholder="password">
        <img src="../access/img/eye-close-1.png" alt="Hinh anh">
      </div>

      <div class="input-box">
        <i class="fa-solid fa-lock"></i>
        <input type="password" placeholder="password">
        <img src="../access/img/eye-close-1.png" alt="Hinh anh">
      </div>

      <div class="ma">
        <a href="" class="ma1">Bạn chưa nhận được mã?</a>
      </div>
      <button type="submit">Gửi</button>

    </form>
    <a href="../HTML/signin.html" class="nutqv">Quay trở về đăng nhập</a>

  </div>
</body>
</html>