<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/signup.css">
    <script defer src="../JS/signup.js"></script>
    <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>ĐĂNG KÝ TÀI KHOẢN MỚI</h1>
        <form id="form" method="post">
            <div class="input-control">
                <i class="fa-solid fa-user"></i>
                <input id="username" name="username" type="text" placeholder="Họ và tên">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <i class="fa-solid fa-envelope"></i>
                <input id="email" name="email" type="text" placeholder="Email ID">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <i class="fa-solid fa-lock"></i>
                <input id="password"name="password" type="password" placeholder="Hãy nhập mật khẩu">
                <img src= "{{ url_for('static', filename = 'images/eye-close-1.png') }}" alt="Hinh anh">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <i class="fa-solid fa-lock"></i>
                <input id="password2"name="password2" type="password" placeholder="Hãy nhập lại mật khẩu">
                <img src= "{{ url_for('static', filename = 'images/eye-close-1.png') }}" alt="Hinh anh">
                <div class="error"></div>
                
            </div>
            <div class="submit">
                <button type="submit">ĐĂNG KÝ NGAY</button>
            </div>
            
        </form>
    </div>
</body>
</html>