<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/singin.css">
    <script defer src="../JS/signin.js"></script>
    <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>ĐĂNG NHẬP</h1>
        <form id="form" action="/">
          <div class="input-control">
              <input id="email" name="email" type="text" placeholder="Email">
              
          </div>

          <div class="input-control">
              <input id="password"name="password" type="password" placeholder="Mật khẩu">
          </div>

          <div class="dnn">
            <a href="../HTML/forgetpass.html">
              <p class="dn">Quên mật khẩu</p>
            </a>
          </div>
          
          <div class="signin">
              <button class ="dnnn"type="submit">ĐĂNG NHẬP</button>
          </div>

          <hr color="black" width="900px" size="2px" align="center" />

          <div class="signup">
            <button class="signup-gg">
              <i class="fa fa-google"></i>
              <span class="signup-w-gg">Đăng nhập với Google</span>
              
            </button>
          </div>

          <div>
            <p class="notk">Bạn chưa có tài khoản?</p>
          </div>

          <div class="linkdk">
            <a  href="../HTML/signup.html">Đăng ký</a>
          </div>
        </form>  

          <!-- <img src="../access/img/oop phai.png" alt="Hinh anh">
          <img src="../access/img/oop trai.png" alt="Hinh anh">  -->




          
        
    </div>
</body>
</html>