<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student's ID</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style/student.css">
  <script defer src=""></script>
  <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="h1"><h1 >XÁC MINH TÀI KHOẢN HỌC SINH</h1></div>

    <div class="h2"><h2>
      *Vui lòng xác minh thẻ học sinh
      <a href="" class="">Xem hướng dẫn chi tiết</a>
    </h2>
  </div>
  
  <div class="nut">
    <div class="libox">
      <i class="fa-solid fa-plus"></i>
      <button >Thêm hoặc tạo</button>
    </div>
    
  </div>
  </div>
</body>
</html>