<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Successful!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style/success.css">
  <script defer src=""></script>
  <script src="https://kit.fontawesome.com/7d8592f4f0.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="h1"><h1>THÀNH CÔNG ĐỔI MẬT KHẨU MỚI</h1></div>
    <div class="pic"><img src="../static/images/img/Success1.png" alt="Hinh anh"></div>
    <div class="nut">
      <button>
        <a href="../templates/index.html">QUAY LẠI</a>
      </button>
    </div>
  </div>
</body>
</html>